// variables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
    @if $media==xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $media==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $media==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $media==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

.tab_container {
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: center;
    align-items    : flex-start;
    width          : 100%;
}

.card_shadow {
    -webkit-box-shadow: 4px 4px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : 4px 4px 16px -4px rgba(0, 0, 0, 0.75);
    box-shadow        : 4px 4px 16px -4px rgba(0, 0, 0, 0.75);
}

.list_group {
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: center;
    max-width      : 100%;

    a {
        font-size : small;
        text-align: center;
        width     : 20%;
        height    : 7vh;

        @include media(lg) {
            font-size: larger;
            height   : 8vh;
            width    : 100%;
        }

        @include media(md) {
            font-size: larger;
            height   : 8vh;
            width    : 100%;
        }
    }

    @include media(lg) {
        width: 100%;
    }

    @include media(md) {
        width: 100%;
    }
}

.tab_content {
    display   : flex;
    flex-flow : column wrap;
    min-width : 100%;
    margin-top: 1vh;
}

.tab_pane {
    min-width      : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    form {
        min-width: 100%;
    }
}

.labels_to_left {
    color     : white;
    background: #2699fb 0% 0% no-repeat padding-box;
    border    : 0;
    opacity   : 1;

    @include media(lg) {
        width: 120px !important;
    }

    @include media(md) {
        width: 120px !important;
    }
}

.input_size {
    width: 150px;

    @include media(lg) {
        width: 100%;
    }

    @include media(md) {
        max-width: 350px;
    }
}

.details_form_container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-flow      : column wrap;
    width          : 100%;
}

.details_form_dropdowns {
    display        : flex;
    justify-content: space-between;
    flex-flow      : row wrap;
    align-items    : center;
    width          : 92%;
}

.details_form_checks_container {
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: flex-start;
    align-items    : flex-start;
    background     : #ffffff 0% 0% no-repeat padding-box;
    border         : none;
    opacity        : 1;
    width          : 93%;
    min-height     : 18vh;
    margin         : 1vh 0;

    @include media(lg) {
        width: 98%;
    }

    @include media(md) {
        width: 95%;
    }
}

.details_form_checks_tags {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-between;
    align-items    : flex-start;
    width          : 100%;
}

.details_form_checks_tag {
    background    : #eceeef 0% 0% no-repeat padding-box;
    border        : 1px solid #dddddd;
    opacity       : 1;
    height        : 6vh;
    letter-spacing: 0px;
    text-align    : center;
    font-size     : 30px;
    margin-bottom : 1vh;
    color         : #0e0e95;
}

.details_form_checks_checks {
    display        : flex;
    justify-content: space-between;
    flex-flow      : row wrap;
    align-items    : flex-start;
    min-width      : 100%;
    padding        : 0 2vw;

    div {
        border         : none;
        opacity        : 1;
        display        : flex;
        font-size      : 20px;
        justify-content: center;

        input,
        label {
            cursor : pointer;
            color  : #0e0e95;
            opacity: 1;
            width  : 150px;

            @include media(lg) {
                width: 250px;
            }

            @include media(md) {
                width: 250px;
            }

        }
    }
}

.details_form_bottom {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.details_form_bottom_inputs {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-between;
    align-items    : center;

    input {
        width: 100px;
    }
}

.details_form_checks_options {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: flex-end;
    align-items    : flex-start;

    button {
        font-size: 25px;

        &:hover {
            background-color: #0e0e95;
        }

        @include media(lg) {
            font-size: 35px;
        }

        @include media(md) {
            font-size: 35px;
        }
    }

}

.option_disabled {
    color : gray;
    cursor: not-allowed;
}

.option_enable {
    color : #00008B;
    cursor: pointer;

    &:hover {
        color: white;
    }
}

.details_form_container_images {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-evenly;
    align-items    : flex-end;
    min-width      : 100%;

    img {
        width : 20vw;
        height: 10vh;

        @include media(lg) {
            width : 15vw;
            height: unset;
        }
    }

    video {
        width: 45vw;
    }
}

.fileContainer {
    overflow: hidden;
    position: relative;
    cursor  : pointer;
    display : flex;


    button {
        background: #00008B 0% 0% no-repeat padding-box;
        border    : none;
    }
}

.fileContainer [type=file] {
    cursor    : inherit;
    display   : block;
    font-size : 999px;
    filter    : alpha(opacity=0);
    min-height: 100%;
    min-width : 100%;
    opacity   : 0;
    position  : absolute;
    right     : 0;
    text-align: right;
    top       : 0;
}

.upload_button {
    display     : flex;
    align-self  : flex-end;
    justify-self: flex-end;
    margin-right: .5vw;
}

.backButton {
    font-size       : 2rem;
    border-radius   : 5px;
    margin          : 1vh 0;
    height          : 45px;
    width           : 150px;
    background-color: #00008B;
    color           : white;

    &:hover {
        @extend .card_shadow;
    }
}