// variables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

.contact_container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    color: white;
}

.contact_top_section{
    display: flex;
    flex-flow: column wrap;
    min-width: 100%;
    margin-bottom: 2vh;

    @include media(lg){
        flex-flow: row wrap;
    }

    @include media(md){
        flex-flow: row wrap;
    }

}

.contact_bottom_section{
    display: flex;
    flex-flow: column wrap;
    min-width: 100%;
    
    @include media(lg){
        flex-flow: row wrap;
    }

    @include media(md){
        flex-flow: row wrap;
    }
}

.contact_top_section_left{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;

    @include media(lg){
        width: 40%;
    }

    @include media(md){
        width: 40%;
    }

}

.contact_top_section_right{
    visibility: hidden;
    display: none;
    width: 0;

    @include media(lg){
        align-items: flex-end;
        width: 60%;
        visibility: visible;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    @include media(md){
        align-items: flex-end;
        width: 60%;
        visibility: visible;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    iframe{
        width: 90%;
        border-radius: 10px;
    }
}

.contact_bottom_section_left{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;

    @include media(lg){
        align-items: flex-end;
        width: 40%;
    }

    @include media(md){
        align-items: flex-end;
        width: 40%;
    }
}

.contact_bottom_section_right{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include media(lg){
        align-items: flex-end;
        width: 60%;
    }

    @include media(md){
        align-items: flex-end;
        width: 60%;
    }

    iframe{
        width: 90%;
        border-radius: 10px;
    }
}