// variables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media==xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @else if $media==sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @else if $media==md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  }

  @else if $media==lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

.contact_container {
  display        : flex;
  flex-flow      : column wrap;
  justify-content: center;
  align-items    : center;
  min-width      : 100%;
  min-height     : 100%;
  color          : #000;
}

.contact_top_section {
  display      : flex;
  flex-flow    : column wrap;
  min-width    : 100%;
  margin-bottom: 2vh;

  @include media(lg) {
    flex-flow: row wrap;
  }

  @include media(md) {
    flex-flow: row wrap;
  }
}

.contact_bottom_section {
  display  : flex;
  flex-flow: column wrap;
  min-width: 100%;

  @include media(lg) {
    flex-flow: row wrap;
  }

  @include media(md) {
    flex-flow: row wrap;
  }
}

.contact_top_section_left {
  display        : flex;
  flex-flow      : column wrap;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  padding        : 1%;

  h1 {
    text-align     : center;
    letter-spacing : 0px;
    opacity        : 1;
    text-decoration: underline;
  }

  p {
    text-align    : left;
    font          : Italic 20px/30px Georgia;
    letter-spacing: 0px;

    opacity: 1;
  }

  @include media(lg) {
    width: 40%;
  }

  @include media(md) {
    width: 40%;
  }
}

.contact_top_section_right {
  visibility: hidden;
  display   : none;
  width     : 0;

  @include media(lg) {
    align-items    : flex-end;
    width          : 60%;
    visibility     : visible;
    display        : flex;
    flex-flow      : column wrap;
    justify-content: center;
  }

  @include media(md) {
    align-items    : flex-end;
    width          : 60%;
    visibility     : visible;
    display        : flex;
    flex-flow      : column wrap;
    justify-content: center;
  }

  iframe {
    width        : 90%;
    border-radius: 10px;
  }
}

.contact_bottom_section_left {
  display         : flex;
  flex-flow       : column wrap;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  padding         : 1%;
  background-color: #fff;

  @include media(lg) {
    align-items: flex-end;
    width      : 40%;
  }

  @include media(md) {
    align-items: flex-end;
    width      : 40%;
  }
}

.contact_bottom_section_right {
  display        : flex;
  flex-flow      : column wrap;
  justify-content: center;
  align-items    : center;
  width          : 100%;

  @include media(lg) {
    align-items: flex-end;
    width      : 60%;
  }

  @include media(md) {
    align-items: flex-end;
    width      : 60%;
  }

  iframe {
    width        : 90%;
    border-radius: 10px;
  }
}

.labels_to_left {
  width     : 90px;
  text-align: center;
  color     : white;
  background: #00008b 0% 0% no-repeat padding-box;
  border    : 0;
  opacity   : 1;
}

.input_size {
  width: 250px;

  @include media(lg) {
    width: 350px;
  }

  @include media(md) {
    width: 350px;
  }
}

.submit_button {
  button {
    width: 150px;
  }
}