body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F7F7FE 8%, #F6F6FE 27%, #EBEBFC 28%, #EAEAFC 30%, #D8D8F2 32%, #7878EB 34%, #2222A5 45%, #00008B 66%, #00008B 73%, #00008B 82%, #00008B 100%) 0% 0% no-repeat padding-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
